### Composer ###
composer.phar
*.phar
/vendor/
*.lock
*.pid

### Framework ###
.env.*.php
.env.php
.env
#.gitlab-ci.yml
node_modules/
npm-debug.log
.cache/view/*
.config/
.local/
cache/view/*


### Local ###
.gitconfig
.vscode/
.viminfo
laradock/
.cache
phinx.yml
nginx_conf/*
