### Composer ###
composer.phar
*.phar
*.lock
/vendor

### Framework ###
.env
*.log
phinx.yml
.gitlab-ci.yml
/node_modules/
/.cache/view/*.php
/.config/
/.local/
/cache/view/*.php


### Local ###
*.pid
.gitconfig
.viminfo
/laradock/
/.vscode/
/.cache
/nginx_conf